@font-face {
    font-family: 'open-sans-light';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open-sans-regular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open-sans-semibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dosis-light';
    src: url('../fonts/dosis-light-webfont.eot');
    src: url('../fonts/dosis-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-light-webfont.woff2') format('woff2'),
         url('../fonts/dosis-light-webfont.woff') format('woff'),
         url('../fonts/dosis-light-webfont.ttf') format('truetype'),
         url('../fonts/dosis-light-webfont.svg#dosislight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dosis-regular';
    src: url('../fonts/dosis-regular-webfont.eot');
    src: url('../fonts/dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-regular-webfont.woff2') format('woff2'),
         url('../fonts/dosis-regular-webfont.woff') format('woff'),
         url('../fonts/dosis-regular-webfont.ttf') format('truetype'),
         url('../fonts/dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dosis-semibold';
    src: url('../fonts/dosis-semibold-webfont.eot');
    src: url('../fonts/dosis-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dosis-semibold-webfont.woff2') format('woff2'),
         url('../fonts/dosis-semibold-webfont.woff') format('woff'),
         url('../fonts/dosis-semibold-webfont.ttf') format('truetype'),
         url('../fonts/dosis-semibold-webfont.svg#dosissemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    line-height: 1;
    font-size: 15px;
    font-family: 'open-sans-light', sans-serif;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6, p, blockquote{
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font: 15px/1 'dosis-regular', sans-serif;
    font-weight: 400;
}
section {
    padding-top: 140px;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
.title {
    padding-bottom: 75px;
    text-transform: uppercase;
}
.title h2 {
    letter-spacing: .5em;
}
.section-small{
    padding-top: 70px !important;
}
.section-light {
    color: #777;
    background: #fff;
}
.section-light .title h2 {
    color: #111;
}
.section-grey {
    color: #111;
    background: #f8f8f8;
}
.section-dark {
    color: #fff;
    background: #111;
}
blockquote {
    padding: 0;
    border: none;
    font-size: 24px;
    line-height: 38px;
}
blockquote .author {
    display: block;
    font-size: 11px;
    line-height: 1;
    letter-spacing: .2em;
    margin-top: 30px;
    text-transform: uppercase;
}
.text {
    line-height: 26px;
}
.btn-dark {
    color: #fff;
    background: #111;
}
.nav-tabs > li > a {
    line-height: 1;
    border: none;
    color: rgba(17, 17, 17, .5);
    transition: color .5s;
}
.nav > li > a:focus,
.nav > li > a:hover {
    background: none;
    color: rgba(17, 17, 17, 1);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border: none;
    color: rgba(17, 17, 17, 1);
}
.marker {
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 2px;
    text-align: center;
    line-height: 23px;
    transform: rotate(45deg);
}
.marker-dark {
    color: #fff;
    background: #111;
}
.marker-light {
    color: #222;
    background: #fff;
}
.marker-black {
    color: #000;
    background: #fff;
    box-sizing: padding-box;
    border: 1px solid #000;
}
.marker-border {
    background: #f8f8f8;
    border: 1px solid #181818;
}
.marker i {
    font-size: 14px;
    transform: rotate(-45deg);
}
.marker .fa-phone {
    transform: rotate(45deg) scale(.9) translate(-2px, -2px);
}
.marker-black i {
    transform: rotate(-45deg) translate(1px, -1px);
}
@media (max-width: 767px) {
    section {
        padding-top: 80px;
    }
    .title {
        padding-bottom: 40px;
    }
}
/* CUSTOM STYLES */
/* HEADER START*/
.header {
    position: absolute;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
    line-height: 1;
    padding-bottom: 26px;
}
.logo-name{
    margin-top: 27px;
    margin-left: 29px;
    padding-bottom: 5px;
    border-bottom: solid 1px rgba(255,255,255,0.9);
    color: rgba(255,255,255,0.9);
}
.name-dir > span {
    letter-spacing: normal;
}
.name-dir{
    text-align: right;
    font: 12px 'open-sans-semibold', sans-serif;
    margin-left: 12px;
    margin-top: 3px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}
#menu {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding-top: 34px;
    padding-right: 32px;
    font: 11px 'open-sans-regular', sans-serif;
    letter-spacing: 0.3em;
    line-height: 1;
    text-transform: uppercase;
    color: rgba(255,255,255,.75);
}
#menu li {
    display: block;
    float: left;
}
#menu li + li{
    margin-left: 35px;
}
#menu a:hover,
#menu a:focus {
    text-decoration: none;
    color: #fff;
    transition: color .3s;
}
.navbar-toggle {
    border-color: #fff;
    border-radius: 2px;
    margin-top: 14px;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
@media (max-width: 767px) {
    .navbar-collapse {
        border: none;
        background: #111;
        padding: 30px 15px;
        z-index: 99;
    }
    #menu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: right;
    }
    #menu li + li {
        margin-left: 0;
    }
    #menu li {
        display: block;
        float: none;
    }
    #menu li a {
        line-height: 2em;
    }
}
@media (min-width: 768px) {
    .fade{
        opacity: 1;
    }
}
/* HEADER FINISH*/
/*HOME PAGE START*/
.home-page{
    background: #a1a1a1 url("../img/bg-image.png") 50% 100% / cover;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
}
.home-page .firm-name{
    margin: auto;
}
h1 {
    font: 30px 'dosis-regular', sans-serif;
    font-stretch: condensed;
    font-weight: normal;
    letter-spacing: 1.7em;
    text-transform: uppercase;
    color: rgba(254, 254, 254, .9);
    /*padding-top: 325px;*/
}
h1 > span{
    letter-spacing: normal;
}
.tagline{
    display: block;
    font: 19px 'open-sans-light', sans-serif;
    color: rgba(254, 254, 254, .68);
    /*color: #e3e3e3;*/
    font-weight: normal;
    /*margin: 100px 0 200px;*/
    margin-top: 100px;
    margin-bottom: 100px;
}
.home-page .marker-light{
    position: absolute;
    right: 50%;
    transform: translateX(50%) rotate(45deg);
    bottom: 3%;
    width: 20px;
    height: 20px;
}
.home-page .fa-angle-down {
    position: absolute;
    top: 7px;
    right: 2px;
}
@media (max-width: 1199px) {
    .home-page h1 {
        margin-top: 130px;
        letter-spacing: .7em;
    }
}
@media (max-width: 991px) {
    .home-page h1 {
        margin-top: 100px;
        letter-spacing: .7em;
    }
    .tagline {
        margin-top: 50px;
    }
}
@media (max-width: 767px) {
    .home-page h1 {
        margin-top: 50px;
        letter-spacing: .3em;
    }
    .home-page .tagline {
        margin-top: 30px;
        width: 60%;
        display: inline-block;
    }
    .logo-name{
        margin-top: 20px;
        margin-left: 22px;
    }
}
@media (max-width: 479px) {
    .home-page h1 {
        letter-spacing: .1em;
    }
    .home-page .tagline {
        width: 90%;
    }
}
/*HOME PAGE FINISH*/
/* ABOUT STUDIO START */
.about-studio {
    padding-bottom: 140px;
    border-bottom: 1px solid #ececec;
}
.about-studio .people {
    margin-top: 106px;
}
.about-studio .photo {
    position: relative;
}
.about-studio .photo img {
    filter: grayscale(100%);
}
.about-studio .name,
.about-studio .position {
    display: block;
    font-family: 'dosis-regular', sans-serif;
    font-weight: 400;
    letter-spacing: .4em;
    text-transform: uppercase;
}
.about-studio .name {
    margin: 28px 0 12px;
}
.about-studio .position {
    font-size: 12px;
}
.about-studio .skills {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: scale(.8);
    transition: opacity .3s, transform .3s;
    padding: 36px 40px 20px;
}
.about-studio .skills-title {
    display: block;
    font-family: 'dosis-regular', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .3em;
    margin-bottom: 27px;
}
.about-studio .skills p {
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 40px;
}
.about-studio .progress-wrp {
    font-weight: 400;
    letter-spacing: .2em;
    color: rgba(255, 255, 255, .9);
    text-transform: uppercase;
}
.about-studio .progress-wrp > span {
    font-size: 11px;
}
.about-studio .progress {
    height: 12px;
    margin-top: 6px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, .15);
}
.about-studio .progress-bar {
    background-color: rgba(255, 255, 255, .75);
}
.about-studio .photo:hover .skills {
    opacity: 1;
    transform: scale(1);
}
.about-studio .photo .skills .progress-bar {
    width: 0;
    transition: width .3s ease-in-out .3s;
}
.about-studio .photo:hover .skills .progress-branding .progress-bar {
    width: 74%;
}
.about-studio .photo:hover .skills .progress-design .progress-bar {
    width: 85%;
}
.about-studio .photo:hover .skills .progress-development .progress-bar {
    width: 81%;
}
.about-studio .photo:hover .skills .progress-photography .progress-bar {
    width: 77%;
}
@media (max-width: 1199px) {
    .about-studio .skills {
        padding: 26px 30px 10px;
    }
    .about-studio .skills-title{
        margin-bottom: 10px;
    }
    .about-studio .skills p {
        margin-bottom: 20px;
    }
    .about-studio .progress {
        margin-top: 3px;
    }
}
@media (max-width: 991px) {
    .about-studio .title {
        padding-bottom: 60px;
    }

    .about-studio blockquote {
        margin-bottom: 40px;
    }
    .about-studio blockquote .author {
        margin-top: 20px;
    }
    .about-studio .col-md-4 .photo {
        display: inline-block;
    }
    .about-studio .col-md-4 + .col-md-4 {
        margin-top: 30px;
    }
    .about-studio .name {
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    .about-studio {
        padding-bottom: 40px;
    }
    .about-studio .title {
        width: 90%;
        margin: 0 auto;
    }
    .about-studio blockquote {
        width: 90%;
        margin: 0 auto;
    }
    .about-studio blockquote .author{
        margin-top: 10px;
    }
    .about-studio .text {
        width: 90%;
        margin: 0 auto;
        text-align: justify;
    }
}
@media (max-width: 479px) {
    .about-studio .title {
        padding-bottom: 40px;
    }
}
/* ABOUT STUDIO END */
/* SERVICES START */
.services {
    padding-bottom: 140px;
}
.services .nav-tabs li {
    width: 20%;
    font-family: 'dosis-regular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .4em;
    text-transform: uppercase;
}
.services .icon-et {
    display: block;
    font-size: 48px;
    margin-bottom: 34px;
}
.services .nav-tabs {
    border: none;
}
.services .tab-content {
    padding-top: 62px;
}
@media (max-width: 1199px) {
    .services blockquote {
        margin-bottom: 30px;
    }
    blockquote .author {
        margin-top: 20px;
    }
}
@media (max-width: 991px) {
    blockquote .author {
        margin-top: 15px;
    }
    .services .nav-tabs li {
        width: 33.3333%;
    }
    .services .nav-tabs li + li {
        margin-top: 20px;
    }
    .services .icon-et {
        margin-bottom: 20px;
    }
    .services .nav-tabs li:nth-child(4){
        margin-left: 16.6667%;
    }
}
@media (max-width: 767px) {
    .services {
        padding-bottom: 80px;
    }
    .services .nav-tabs li {
        width: 50%;
    }
    .services .nav-tabs li:nth-child(4) {
        margin-left: auto;
    }
    .services .nav-tabs li:nth-child(5){
        margin-left: 25%;
    }
    .services .tab-content {
        padding-top: 30px;
    }
    .services .col-xs-12 + .col-xs-12 p{
        margin-top: 20px;
    }
}
@media (max-width: 479px) {
    .services .nav-tabs li {
        width: 100%;
    }
    .services .nav-tabs li:nth-child(5){
        margin-left: 0;
    }
}
/* SERVICES END */
/* LETS-TALK START*/
.lets-talk{
    height: 304px;
}
.lets-talk h2{
    font: 18px 'dosis-light', sans-serif;
    line-height: 26px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-bottom: 28px;
}
.lets-talk p{
    display: block;
    font: 15px 'open-sans-light', sans-serif;
    line-height: 26px;
    color: rgba(255, 255, 255, .7);
    /*margin-bottom: 45px;*/
}
.lets-talk .btn-light {
    background: #cfcfcf;
    color: #111;
}
.lets-talk .btn-default{
    border-radius: 2px;
    padding: 13px 42px 13px 40px;
    font: 14px 'open-sans-regular', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-top: 43px;
    line-height: 1;
    margin-bottom: 139px;
}
.lets-talk .btn-default:hover{
    color: grey;
}
.lets-talk img {
    margin-top: -172px;
}
@media (max-width: 991px) {
    .lets-talk img{
        margin-top: 30px;
        float: none!important;
        display: inline-block;
    }
    .lets-talk .btn-default {
        margin-bottom: 0;
    }
    .lets-talk {
        height: auto;
        text-align: center;
    }
}
@media (max-width: 767px) {
    .lets-talk {
        padding-bottom: 80px;
        height: auto;
        text-align: center;
    }
    .lets-talk img{
        margin-top: 30px;
        float: none!important;
        display: inline-block;
    }
    .lets-talk .btn-default {
        margin-bottom: 0;
    }
}
/* LETS-TALK END*/
/* PORTFOLIO START*/
.portfolio-title {
    margin-bottom: 85px;
}
.portfolio h2{
    font: 18px 'dosis-regular', sans-serif;
    letter-spacing: 0.5em;
    margin-bottom: 80px;
    color: #111111;
    text-transform: uppercase;
}
.portfolio p{
    max-width: 760px;
    margin: 0 auto;
    margin-bottom: 87px;
}
.portfolio .nav-tabs {
    border: none;
}
.portfolio .nav-tabs{
    float: none;
    text-align: center;
}
.portfolio .nav-tabs > li > a{
    padding: 0 34px;
    margin: 0;
}
.portfolio .nav-tabs li {
    float: none;
    text-align: center;
    display: inline-block;
    font: 13px 'dosis-regular', sans-serif;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}
.portfolio .nav-tabs {
    margin-bottom: 50px;
}
.portfolio .pf-photo {
    overflow: hidden;
}
.portfolio .pf-content{
    margin-right: -4px;
    margin-left: -4px;
}
.portfolio .pf-item {
    float: left;
    padding: 0 4px 8px;
    width: 33.333%;
    filter: grayscale(100%);
}
.portfolio .pf-item:hover,
.portfolio .pf-item:focus {
    filter: grayscale(0%);
    transition: all 2s 0.5s;
}
.portfolio .pf-item img {
    width: 100%;
    height: auto;
}
@media (max-width: 991px) {
    .portfolio h2{
        margin-bottom: 30px;
    }
    .portfolio p{
        width: 80%;
        margin-bottom: 50px;
    }
    .portfolio .pf-item {
        width: 50%;
    }
}
@media (max-width: 767px) {
    .portfolio .nav-tabs li {
        width: 50%;
        float: left;
    }
    .portfolio .nav-tabs li:nth-child(n+3){
        margin-top: 20px;
    }
    .portfolio .pf-item {
        width: 100%;
    }
}
@media (max-width: 479px) {
    .portfolio p{
        width: 90%;
    }
    .portfolio .nav-tabs li {
        letter-spacing: .1em;
    }
}
/* PORTFOLIO END*/
/* START-PROJECT START*/
.start-project {
    position: relative;
}
.start-project .title {
    padding: 0;
}
.start-project .title h2{
    font-size: 18px;
    letter-spacing: 0.3em;
    line-height: 26px;
    color: #fff;
    font-family: 'dosis-light', sans-serif;
}
.start-project a {
    margin-top: 25px;
}
.start-project .btn-default {
    color: #111;
    font-size: 14px;
    font-family: 'open-sans-regular', sans-serif;
    line-height: 1;
    letter-spacing: .2em;
    text-transform: uppercase;
    padding: 13px 40px;
    background: #d2d2d2;
    margin-bottom: 69px;
    border-radius: 2px;
}
.start-project .btn-default:hover,
.start-project .btn-default:focus{
    background: #d2d2d2;
    text-decoration: none;
}
.start-project .hovered {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: #000 url("../img/bg-image-project.jpg") no-repeat 50% 50%;
    background-size: cover;
    transition: opacity .3s;
    /*overflow: hidden;*/
}
.start-project:hover .hovered {
    opacity: 1;
}
.start-project .container {
    position: relative;
}
/* START-PROJECT END */
/* Choose US START*/
.choose-us {
    margin-bottom: 62px;
}
.choose-us .icon-us {
    display: block;
    font-size: 52px;
    margin-bottom: 35px;
}
.choose-us .title{
    margin-bottom: 14px;
}
.choose-us h2 {
    letter-spacing: 0.5em;
    font: 18px 'dosis-regular', sans-serif;
    line-height: 1;
}
.choose-us h3 {
    font: 14px 'dosis-regular', sans-serif;
    letter-spacing: 0.4em;
    color: #111111;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 35px;
}
.choose-us .text {
    text-align: left;
    padding-bottom: 85px;
    font: 14px 'open-sans-light', sans-serif;
    color: #777777;
    line-height: 26px;
}
@media (max-width: 991px) {
    .choose-us .text {
        padding-bottom: 40px;
    }
    .choose-us h3 {
        margin-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .choose-us h3{
        margin-bottom: 15px;
    }
    .choose-us .text {
        padding-bottom: 20px;
        text-align: center;
    }
}
/* Choose US END*/
/* SLIDER START */
.slider {
    padding-top: 0;
}
.slider .slide-title {
    font-size: 18px !important;
    font-weight: 300 !important;
}
.slider .item {
    padding-top: 140px;
    padding-bottom: 140px;
}
.slider .item .icon-quote {
    font-size: 32px;
}
.slider .item .slide-title {
    font-family: 'dosis-regular', sans-serif;
    letter-spacing: .3em;
    text-transform: uppercase;
    margin: 21px 0 45px;
    display: block;
}
.slider .item blockquote {
    max-width: 730px;
    margin: 0 auto;
}
.slider .item blockquote p {
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, .75);
}
.slider .item blockquote .author {
    color: rgba(255, 255, 255, .3);
}
.slider .carousel-indicators {
  position: absolute;
  bottom: 30px;
}
.slider .carousel-indicators li {
    width: 9px !important;
    height: 9px !important;
    background-color: #fff;
    vertical-align: middle;
}
.slider .carousel-indicators .active {
    background-color: rgba(0, 0, 0, 0);
}
.slider .carousel-control {
    overflow: hidden;
}
.slider .carousel-control.left,
.slider .carousel-control.right {
    background: none;
}
.slider .marker {
    width: 63px;
    height: 63px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.slider .left .marker {
    left: -32px;
}
.slider .right .marker {
    right: -32px;
}
.slider .marker .fa-angle-left,
.slider .marker .fa-angle-right {
    position: absolute;
    transform: translateY(-50%) rotate(-45deg);
}
.slider .marker .fa-angle-left {
    top: 20px;
    left: 41px;
}
.slider .marker .fa-angle-right {
    top: 44px;
    left: 16px;
}
@media (max-width: 767px){
    .slider .item blockquote p {
        width: 70%;
        display: inline-block;
    }
    .slider .item {
        padding-top: 100px;
        padding-bottom: 100px;
    }

}
/* SLIDER END */
/* LATEST NEWS START */
.latest-news{
    padding-bottom: 140px;
}
.latest-news .title {
    margin-bottom: 5px;
}
.latest-news .all-news {
    font-size: 11px;
    letter-spacing: .4em;
    color: #999;
    font-family: 'dosis-regular', sans-serif;
    line-height: 18px;
}
.latest-news .all-news a:hover,
.latest-news .all-news a:focus {
    color: #111;
    text-decoration: none;
}
.latest-news h2{
    font-size: 18px;
    font-family: 'dosis-regular', sans-serif;
    color: #111;
}
.latest-news a > .ln-item {
    margin-bottom: 30px;
    width: 100%;
}
.latest-news img {
    filter: grayscale(100%);
    transition: all .3s .5s;
}
.latest-news img:focus,
.latest-news img:hover {
    filter: none;
}
.latest-news h3 {
    margin-bottom: 17px;
    font-family: 'dosis-regular', sans-serif;
    font-size: 15px;
    letter-spacing: 0.2em;
    color: #777;
    text-transform: uppercase;
    line-height: 1;
}
.latest-news .news-data {
  padding-left: 12px;
  border-left: solid 1px #999;
  margin-left: 6px;
}
.latest-news span {
    font-family: 'dosis-regular', sans-serif;
    font-size: 11px;
    letter-spacing: .4em;
    color: #999;
    text-transform: uppercase;
}
.latest-news p {
    font-family: 'open-sans-light', sans-serif;
    line-height: 26px;
    color: #777;
    font-size: 15px;
    margin-top: 26px;
    margin-bottom: 29px;
}
.latest-news .btn-small{
    color: #777;
    padding: 9px 15px;
    font-family: 'open-sans-regular', sans-serif;
    font-size: 11px;
    line-height: 1;
    letter-spacing: .2em;
    text-transform: uppercase;
    border-radius: 2px;
}
.latest-news .btn-default {
    background: #e5e5e5;
    border: #e5e5e5;
}
.latest-news .btn-default:hover,
.latest-news .btn-default:focus {
    color: #111;
}
@media (max-width: 991px) {
    .latest-news .col-xs-12 + .col-xs-12 {
        margin-top: 40px;
    }
    .latest-news .btn-default {
        float: right;
    }
    .latest-news p {
        margin-top: 15px;
        margin-bottom: 18px;
    }
}
@media (max-width: 767px) {
    .latest-news {
        padding-bottom: 80px;
    }
}
@media (max-width: 360px) {
    .section-light .title h2 {
        letter-spacing: .1em;
    }
    .latest-news .all-news {
        letter-spacing: .1em;
    }
}
/* LATEST NEWS START END */
/* SUBSCrIBE START */
.subscribe {
    padding-top: 59px;
}
.subscribe h2{
    font-family: 'dosis-light', sans-serif;
    line-height: 26px;
    font-size: 16px;
    color: #111;
    letter-spacing: .3em;
    text-transform: uppercase;
    margin-bottom: 21px;
}
.subscribe form {
    max-width: 426px;
    margin: 0 auto;
}
.subscribe {
    padding-bottom: 85px;
}
.subscribe .form-left{
    width: 293px;
}
.subscribe .btn {
    min-width: 128px;
    min-height: 36px;
    font-size: 13px;
    letter-spacing: .2em;
    border-radius: 2px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
}
.subscribe .btn:hover,
.subscribe .btn:focus {
    background: #333;
    color: #fff;
}
.subscribe .form-left {
    padding-right: 2px;
}
.subscribe .form-right {
    padding-left: 2px;
}
.subscribe input {
    font-family: 'open-sans-regular', sans-serif;
    font-size: 12px;
    letter-spacing: .2em;
    color: #777;
    height: 36px;
    border-radius: 2px;
    border-color: rgba(0, 0, 0, .1);
}
.subscribe input:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .5);
}
.subscribe .form-center {
    display: block;
    margin-top: 21px;
}
.subscribe span{
    font-family: 'open-sans-regular', sans-serif;
    font-size: 11px;
    line-height: 1;
    color: #aaa;
}
@media (max-width: 767px) {
    .subscribe form {
        max-width: 100%;
    }
    .subscribe .form-control {
        float: none!important;
        text-align: center;
    }
    .subscribe .form-left{
        width: 90%;
        display: inline-block;
    }
    .subscribe .btn {
        float: none!important;
        width: 90%;
        text-align: center;
        margin-top: 10px;
    }
}
/* SUBSCrIBE END */
/* CONTACT START */
.contact {
    padding-bottom: 140px;
}
.contact .contact-icon,
.contact .contact-data {
    display: inline-block;
    vertical-align: middle;
}
.contact .contact-data {
    margin-left: 14px;
}
.contact .contact-data-title {
    display: block;
}
.contact .contact-data span{
    font-family: 'dosis-regular', sans-serif;
    font-size: 12px;
    letter-spacing: 0.3em;
    color: #777;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 8px;
}
.contact .contact-data a{
    font-family: 'open-sans-light', sans-serif;
    font-size: 15px;
    color: #444;
    line-height: 24px;
    text-decoration: none;
}
.contact .contact-data a:hover,
.contact .contact-data a:focus{
  color: #000;
}
.contact .form-left,
.contact .form-right {
    width: 50%;
    float: left;
}
.contact .form-left {
    padding-right: 5px;
}
.contact .form-right {
    padding-left: 5px;
}
.contact .form-center {
    padding-top: 20px;
    clear: left;
}
.contact form {
    margin-top: 80px;
}
.contact input,
.contact textarea {
    font-size: 12px;
    border-color: rgba(0, 0, 0, .1);
    transition: border-color .3s;
    border-radius: 2px;
    color: #777;
    letter-spacing: .2em;
}
.contact input:focus,
.contact textarea:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .5);
}
.contact input {
    height: 36px;
}
.contact input + input {
    margin-top: 10px;
}
.contact textarea {
    min-height: 82px;
    resize: vertical;
    padding: 12px;
}
.contact .info {
    font-size: 11px;
    line-height: 36px;
    color: #aaa;
}
.contact .btn {
    line-height: 1;
    font-size: 13px;
    letter-spacing: .2em;
    padding: 12px 20px 13px;
    border-radius: 2px;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
}
.contact .btn:hover,
.contact .btn:focus {
    background: #333;
    color: #fff;
}
@media (max-width: 767px) {
    .contact {
        padding-bottom: 80px;
    }
    .contact .col-xs-12 + .col-xs-12{
        margin-top: 20px;
    }
    .contact .contact-data span{
        margin-bottom: 5px;
    }
    .contact form {
        margin-top: 40px;
    }
    .contact .form-left,
    .contact .form-right {
        width: 100%;
        float: none!important;
        padding: 0;
    }
    .contact .form-right {
        margin-top: 10px;
    }
    .contact .info {
        display: block;
        position: absolute;
        bottom: -80px;
    }
    .contact .form-center{
        padding-top: 0;
    }
    .contact .btn{
        float: left!important;
        width: 100%;
        margin-top: 10px;
    }
    .contact .contact-icon {
        padding-left: 25%;
    }
}
@media (max-width: 479px) {
    .contact .contact-icon {
        padding-left: 20%;
    }
}
/* CONTACT END */
/* MAP START */
.map {
    padding-top: 0;
    position: relative;
    overflow: hidden;
}
.map iframe {
    border: 0;
    width: 100%;
    height: 410px;
}
.map .map-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, .95);
    padding-top: 170px;
    transition: transform .3s;
}
.map .map-text {
    display: block;
    margin-top: 30px;
    font-family: 'dosis-regular', sans-serif;
    color: rgba(255, 255, 255, .75);
    font-size: 16px;
    letter-spacing: .3em;
    text-transform: uppercase;
}
.map .marker {
    width: 27px;
    height: 27px;
    line-height: 27px;
}
.map:hover .map-over {
    transform: translateY(100%);
}
/* MAP END */
/* FOOTER START */
.footer {
  position: relative;
  padding-bottom: 61px;;
}
.footer .logo-footer {
  margin-bottom: 28px;
}
.footer .marker{
  width: 25px;
  height: 25px;
  border-radius: 3px;
  margin-bottom: 112px;
}
.footer a + a {
  margin-left: 20px;
}
.footer .comp-name {
  display: block;
  margin-bottom: 16px;
  font-family: 'dosis-regular', sans-serif;
  line-height: 24px;
  letter-spacing: .5em;
  color: #111;
  text-transform: uppercase;
}
.footer .comp-name i{
  letter-spacing: normal;
  margin-right: 16px;
}
.footer .comp-devis {
  display: block;
  font-family: 'open-sans-regular', sans-serif;
  font-size: 11px;
  line-height: 24px;
  color: #999;
}
.footer a:hover,
.footer a:focus {
    color: #fff;
    background: #111;
    transition: color .5s, background .5s ;
}
/*footer END*/
/*SCROLL*/
.scroll-up a{
  width: 90px;
  height: 75px;
  position: fixed;
  bottom: 0;
  right: 0;
}
.scroll-up a:hover .fa-caret-up,
.scroll-up a:focus .fa-caret-up{
  color: #000;
}
.fa-caret-up {
  color: #c6c6c6;
  transform: translateY(70%);
}
/*SCROLL*/

